.navbar {
  background-color: #1E141E;
  top: 0;
  width: 100%;
  z-index: 100;
}
section {
  min-height: 100vh;
  scroll-margin-top: 80px; /* untuk offset scroll akibat navbar fixed */
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px; Batas lebar maksimum, sesuaikan jika perlu */
  padding: 20px 100px; /* Padding untuk jarak ke tepi di layar kecil */
  width: 100%;
  color: white;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px;
}
.navbar-menu a{
    color: white;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}
.navbar-menu a:hover{
    color: #00ffe5;
    transition: 0.3s;
    text-decoration: underline;
    font-size: 18px;
}
.navbar-menu a.active {
  color: #00ffe5; /* Warna tosca */
  font-weight: 500; /* Bold */
  text-decoration: underline; /* Garis bawah */
  font-size: 18px; /* Ukuran font lebih besar */
}
.nav-connect{
    padding: 12px 20px;
    border-radius: 12px;
    background: linear-gradient(267deg, #1B896E, #00E4E8);
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
    background: linear-gradient(267deg, #00E4E8, #00E4E8);
    color: white;
}
/* .active-indicator{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: url("../../assets/icons/underline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: left 0.3s ease-in-out;
} */